#set($searcher=$request.searcher)
#set($params=$request.params)
#set($clusters = $response.response.clusters)
#set($mltResults = $response.response.get("moreLikeThis"))
#set($annotate = $params.get("annotateBrowse"))
#parse('query.vm')
#if($response.response.spellcheck.suggestions and $response.response.spellcheck.suggestions.size() > 0)
  Did you mean <a href="#url_for_home?q=$esc.url($response.response.spellcheck.suggestions.collation)#if($list.size($request.params.getParams('fq')) > 0)&#fqs($request.params.getParams('fq'))#end#debug">$response.response.spellcheck.suggestions.collation</a>?
#end
<div class="navigators">
  #parse("facets.vm")
</div>
 <form id="svg-query-form" action="select" method="get">
<input type="hidden" name="q" id="svg-q" value = '$request.params.get("q")'/>
<input type="hidden" name="q" id="svg-q-ori" value = '$request.params.get("q")'/>
    #set ($fq_filters = "")
    #foreach($fq in $request.params.getParams('cat_fq'))
      #if ($fq != "{!bbox}")
        #set ($fq_filters = $fq + " " + $fq_filters)
      #end
    #end
    #if ($fq_filters.length()>0)
        <input type="hidden" name="fq" id="fq" value="cat:($esc.html($fq_filters))"/>
    #end
<input type="hidden" name="fl" value = 'id'/>
<input type="hidden" name="rows" value = '2000'/>
<input type="hidden" name="wt" value = 'velocity'/>
<input type="hidden" name="v.template" value = 'svgQuery'/>
<input type="button" id="svg-form-submit" value="Show result in graph" onclick="javascript:graphResult();"/>
<input type="button" id="svg-form-submit-selected" value="Show selected terms in graph" onclick="javascript:graphSelected();"/>
</form>
<script>
function graphResult() {
    $("#svg-q").val($("#svg-q-ori").val());
    $("#svg-query-form").submit();
}
function graphSelected() {
  if ($("#selectedT").val().length>0) {
    $("#svg-q").val("id:("+$("#selectedT").val()+")");
    $("#svg-query-form").submit();
  }
}
#set ($page_start=0)
#if ($request.params.get("start"))
  #set ($page_start=$request.params.get("start"))
#end
function previousPage() {
  var curStart=$page_start - $page.results_per_page; 
  $("#query-start").val(curStart);
  $("#query-form").submit();
}
function nextPage() {
  var curStart=$page_start + $page.results_per_page; 
  $("#query-start").val(curStart);
  $("#query-form").submit();
}
</script>
<div class="pagination">
  #if($response.response.get('grouped'))
    <span>
<span class="results-found">$response.response.get('grouped').size() group(s)</span> found in ${response.responseHeader.QTime} ms</span>
  #else
#if ($request.params.get("start") && $request.params.get("start")!="0")
  <input type="button" value="previous" onclick="javascript:previousPage();"/>
#end
<span><span class="results-found">$page.results_found</span> results found in ${response.responseHeader.QTime} ms</span>
  Page <span class="page-num">$page.current_page_number</span> of <span
        class="page-count">$page.page_count</span>
  #if($page.current_page_number < $page.page_count)
  <input type="button" value="next" onclick="javascript:nextPage();"/>
  #end
#end
</div>

<div class="results">
  #if($response.response.get('grouped'))
    #foreach($grouping in $response.response.get('grouped'))
      #parse("hitGrouped.vm")
    #end
  #else
    #foreach($doc in $response.results)
      #parse("hit.vm")
    #end
  #end
</div>

<div class="pagination">
  #if($response.response.get('grouped'))
  #else
#if ($request.params.get("start") && $request.params.get("start")!="0")
  <input type="button" value="previous" onclick="javascript:previousPage();"/>
#end
  <span class="results-found">$page.results_found</span> results found.
  Page <span class="page-num">$page.current_page_number</span> of <span
        class="page-count">$page.page_count</span>
  #if($page.current_page_number < $page.page_count)
  <input type="button" value="next" onclick="javascript:nextPage();"/>
  #end

  #end
</div>

