#set($returnStr="")
#set($pre=false)
#foreach($doc in $response.results)
  #if ($pre)
    #set($returnStr=$returnStr+"; ")
  #else
    #set($pre=true)
  #end
  #set($returnStr=$returnStr+$doc.getFieldValue('term'))
#end
$returnStr 
